.controls {
  height: 48px;
  width: 210px;
  left: initial;
  right: 10px;
  top: 120px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 12px 16px;
  background-color: var(--main-fill);
  border-radius: 2px;
  box-shadow: 0 2px 8px var(--shadow);

  .percent {
    font: var(--font-h3-medium);
    margin-right: 12px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .btn {
      width: 24px;
      height: 24px;

      &:last-of-type > span {
        font-size: 18px;
      }

      & > span {
        font-size: 24px;
      }
    }
  }
}
