.btn {
  background-color: var(--btn-second);
  border-radius: 4px;
  transition: .2s background-color;

  &:disabled {
    background-color: var(--btn-second-disabled);
    cursor: none;
    pointer-events: none;

    * {
      color: var(--btn-second-disabled-text);
    }
  }

  &:hover, &:active, &.active {
    &:not(:disabled) {
      background-color: var(--btn-second-hover);
    }
  }

  & > * {
    color: var(--btn-second-text);
    transition: .2s color;
  }
}
