.btn {
  background-color: var(--btn-second);
  border-radius: 4px;
  transition: .2s background-color;

  &:hover, &:active, &.active {
    &:not(:disabled) {
      background-color: var(--btn-second-hover);
    }
  }

  & > * {
    color: var(--btn-second-text);
  }
}
