.card {
  position: relative;
  display: flex;
  width: 464px;
  height: 251px;
  background-color: var(--card-fill);
  border-radius: 2px;
  cursor: pointer;

  &.active > .border_active {
    border: 4px solid var(--card-border-hover);
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    //padding: 12px;
  }

  .border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--card-border);
    border-radius: 2px;
  }

  .border_active {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--trasparent);
    border-radius: 2px;
    transition: .2s border;
  }

  &:hover:not(.disableHover) {
    .border_active {
      border: 4px solid var(--card-border-hover);
    }
  }
}
