.name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .input {
    font: var(--font-h2-bold);
    border-radius: 4px;
  }

  .view {
    font: var(--font-h2-bold);
    background-color: var(--input-name);
    transition: .2s;
    border-radius: 4px;

    &:hover {
      background-color: var(--input-name-hover);
    }
  }

  .icon {
    font-size: 24px;
    color: var(--text-super-light);
    margin-left: 8px;
  }
}
