.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  color: var(--menu-item-text);
  font: var(--font-h3-bold);
  line-height: 24px;
  transition: .2s color;

  &.active {
    color: var(--menu-item-text-select);
  }
}
