:root {
  --font-h1-bold: bold 48px 'Montserrat';
  --font-h2-bold: bold 32px 'Montserrat';
  --font-h3-bold: bold 20px 'Montserrat';
  --font-h3-medium: normal 20px 'Montserrat';
  --font-body-bold: bold 16px 'Montserrat';
  --font-body-medium: normal 16px 'Montserrat';
  --font-caption-medium: normal 12px 'Montserrat';
}
