:root {
  --grey-900: #212324;
  --grey-800: #4d4f50;
  --grey-700: #646566;
  --grey-600: #7a7b7c;
  --grey-500: #909192;
  --grey-400: #a6a7a7;
  --grey-300: #bdbdbd;
  --grey-200: #d3d3d3;
  --grey-100: #e9e9e9;
  --grey-50: #f4f4f4;


  --orange-900: #fd6907;
  --orange-800: #fe8a04;
  --orange-700: #fe9b03;
  --orange-600: #ffae00;
  --orange-500: #ffbc04;
  --orange-400: #ffc526;
  --orange-300: #ffd14d;
  --orange-200: #ffdd81;
  --orange-100: #ffeab2;
  --orange-50: #fff7e1;


  --blue-900: #0012cb;
  --blue-800: #002fdb;
  --blue-700: #003ce6;
  --blue-600: #0047f2;
  --blue-500: #0051ff;
  --blue-400: #4a6dff;
  --blue-300: #728aff;
  --blue-200: #9fabff;
  --blue-100: #c7ccff;
  --blue-50: #e9ebff;


  --red-900: #cc0000;
  --red-800: #e31a00;
  --red-700: #f12600;
  --red-600: #ff2f00;
  --red-500: #ff3504;
  --red-400: #ff5c33;
  --red-300: #ff7c58;
  --red-200: #ffa388;
  --red-100: #ffc8b7;
  --red-50: #fee7e5;


  --green-900: #8f9300;
  --green-800: #a6bb00;
  --green-700: #b5d300;
  --green-600: #c4eb00;
  --green-500: #d0ff00;
  --green-400: #d1f93f;
  --green-300: #dafc69;
  --green-200: #e6fe97;
  --green-100: #f1fec2;
  --green-50: #faffe7;


  --white: #ffffff;

  --trasparent: transparent;
}
