:root {
  --grey-900: #212324;
  --grey-800: #4D4F50;
  --grey-700: #646566;
  --grey-600: #7A7B7C;
  --grey-500: #909192;
  --grey-400: #A6A7A7;
  --grey-300: #BDBDBD;
  --grey-200: #D3D3D3;
  --grey-100: #E9E9E9;
  --grey-50: #F4F4F4;


  --orange-900: #FD6907;
  --orange-800: #FE8A04;
  --orange-700: #FE9B03;
  --orange-600: #FFAE00;
  --orange-500: #FFBC04;
  --orange-400: #FFC526;
  --orange-300: #FFD14D;
  --orange-200: #FFDD81;
  --orange-100: #FFEAB2;
  --orange-50: #FFF7E1;


  --blue-900: #0012CB;
  --blue-800: #002FDB;
  --blue-700: #003CE6;
  --blue-600: #0047F2;
  --blue-500: #0051FF;
  --blue-400: #4A6DFF;
  --blue-300: #728AFF;
  --blue-200: #9FABFF;
  --blue-100: #C7CCFF;
  --blue-50: #E9EBFF;


  --red-900: #CC0000;
  --red-800: #E31A00;
  --red-700: #F12600;
  --red-600: #FF2F00;
  --red-500: #FF3504;
  --red-400: #FF5C33;
  --red-300: #FF7C58;
  --red-200: #FFA388;
  --red-100: #FFC8B7;
  --red-50: #FEE7E5;


  --green-900: #8F9300;
  --green-800: #A6BB00;
  --green-700: #B5D300;
  --green-600: #C4EB00;
  --green-500: #D0FF00;
  --green-400: #D1F93F;
  --green-300: #DAFC69;
  --green-200: #E6FE97;
  --green-100: #F1FEC2;
  --green-50: #FAFFE7;


  --white: #ffffff;

  --trasparent: transparent;
}
