.wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &:hover {
    .text {
      background-color: var(--hidden-input-hover);
    }
  }

  .text {
    font: var(--font-h2-bold);
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
    background-color: var(--hidden-input);
    transition: .25s background-color;
    border-radius: 4px;

    &:hover {
      background-color: var(--hidden-input-hover);
    }
  }

  .icon {
    font-size: 24px;
    color: var(--text-super-light);
  }
}

.input.big {
  font: var(--font-h2-bold);
  padding: 4px;
  min-width: 500px;
  max-width: 500px;
}
