.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .name {
    max-width: 600px;

    .nameInput {
      max-width: 600px;
    }

    .nameText {
      max-width: 600px;
    }
  }

  .toggleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;

    .label {
      font: var(--font-caption-medium);
      color: var(--text-light);
    }
  }
}
