.calling-section {
  &.MuiAccordion-root {
    box-shadow: none;

    &:not(:first-of-type) {
      border-top: 1px solid var(--grey-100);
    }

    &::before {
      opacity: 0;
    }

    &.Mui-expanded {
      margin: 0;
    }

    .MuiAccordionSummary-root {
      height: 88px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      padding: 0;
    }

    .MuiAccordionSummary-content {
      flex-grow: initial;
      font: var(--font-h3-medium);
      color: var(--text-light);
      text-transform: uppercase;

      .MuiAccordionSummary-expandIconWrapper {

      }
    }

    .MuiAccordionDetails-root {
      padding: 0 0 40px 0;
    }
  }
}
