.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .cancel {
    width: 150px;
    padding-left: 8px;
    padding-right: 16px;
    margin-left: 0;
    margin-right: auto;
  }

  .back {
    width: 117px;
    padding-left: 8px;
    padding-right: 16px;
    margin-left: 0;
    margin-right: auto;
  }
}
