.sidebar {
  //position: fixed;
  position: sticky;
  top: 96px;
  //right: 24px;
  width: 196px;
  display: flex;
  padding: 16px 12px;
  background-color: var(--sidebar-fill);
  border-radius: 2px;
  z-index: 50;
}
