.wrapper {
  width: 100%;
  overflow-x: auto;
  max-height: calc(100vh - 179px);
  border: 1px solid var(--table-border);

  .invalidRow {
    background-color: var(--table-row-invalid) !important;
  }

  .invalidCell {
    color: var(--table-text-invalid) !important;
  }

  .variable {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .type {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        font: var(--font-body-bold);
        margin-right: 8px;
      }

      .btn {
        width: fit-content;
        height: fit-content;
        padding: 0;

        .icon {
          font-size: 24px;
          transition: .25s transform;

          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }

    .name {

    }
  }
}

.table {
  border: 1px solid var(--table-border);

  .cell {
    padding: 14px 16px;
    font: var(--font-body-medium);
    border-bottom: 1px solid var(--table-border);
    border-right: 1px solid var(--table-border);
    overflow: hidden;
    text-overflow: ellipsis;

    &.invalidCell {
      color: var(--table-text-invalid);
    }

    &.even {
      background-color: var(--table-row-even);
    }

    &.odd {
      background-color: var(--table-row-odd);
    }

    &.invalidRow {
      background-color: var(--table-row-invalid);
    }

    &.number {
      font: var(--font-caption-medium);
      color: var(--table-text-number);
      text-align: center;
    }
  }

  .variable {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .type {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        font: var(--font-body-bold);
        margin-right: 8px;
      }

      .btn {
        width: fit-content;
        height: fit-content;
        padding: 0;

        .icon {
          font-size: 24px;
          transition: .25s transform;

          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }

    .name {

    }
  }
}

.menuWrapper {
  width: 224px;
}
