.btn {
  position: relative;
  background-color: var(--btn);
  border-radius: 12px;
  filter: none;
  transition: .2s filter;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--btn-active);
    opacity: 0;
    border-radius: 12px;
    transition: .2s opacity;
  }


  &:hover, &:active, &.active {
    &::before {
      opacity: 0.06;
    }
  }

  & > * {
    color: var(--btn-text);
  }
}
