.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .back {
    padding-left: 8px;
    padding-right: 16px;
    margin-left: 0;
    margin-right: auto;
  }
  .calling{
    width: 192px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
  }
  .save {
    width: 180px;
    margin-right: 0;
    margin-left: 24px;
  }
}
