.wrapper{
  width: 1440px;
  margin: 0 auto;
  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .left {
      position: sticky;
      top: 96px;
      width: 220px;
      height: 100%;
      margin-right: 24px;
    }

    .center {
      height: 100%;
      width: 952px;
    }

    .right {
      width: 220px;
      margin-left: 24px;
    }
  }

  .footer {

  }
}
