.bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 96px;
  display: flex;
  padding: 24px;
  flex-direction: row;

  z-index: 100;

  .actions {
    margin: 0 auto 0 calc(244px - 24px - 139px);
    display: flex;
    width: calc(100vw - 244px - 244px);
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width-content);
  }

  .profile {
    margin-left: auto;
    margin-right: 0;
  }
}
