.text, .input {
  font: var(--font-body-bold) !important;
  color: var(--variable-text);
  background-color: var(--variable-fill);
  padding: 4px;
  border-radius: 4px;
  transition: .2s background-color;
}

.text:hover {
  background-color: var(--variable-fill-hover);
}
