.custom-input {
  .MuiFormControl-root {
    .MuiInputLabel-root {
      color: var(--text-light);
    }

    .MuiOutlinedInput-root {
      background-color: var(--grey-50);
      border-radius: 2px;

      .MuiOutlinedInput-notchedOutline {
        border: none;
      }
    }
  }
}
