.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {

  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .btn {
      width: 220px;
      padding: 14px 15px;
    }

    .now {
      display: flex;
      align-items: center;
      width: fit-content;
    }

    .block {
      width: 464px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .subtitle {
        font: var(--font-caption-medium);
        color: var(--text-light);
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .doubleInput {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .dateTime {
            width: 220px;
          }
        }
      }
    }
  }
}
