:root {
  // original theme
  --bar-fill: var(--white);
  --body-fill: var(--white);

  --btn: var(--orange-600);
  --btn-hover: var(--grey-900);
  --btn-active: var(--grey-900);
  --btn-text: var(--white);

  --btn-toggle: var(--trasparent);
  --btn-toggle-icon: var(--grey-900);
  --btn-toggle-icon-active: var(--orange-600);

  --btn-mini: var(--orange-100);
  --btn-mini-border: var(--orange-200);
  --btn-mini-text: var(--orange-600);

  --btn-circle: var(--trasparent);
  --btn-circle-active: var(--grey-50);
  --btn-circle-icon: var(--grey-900);

  --btn-second: var(--orange-50);
  --btn-second-hover: var(--orange-100);
  --btn-second-active: var(--orange-100);
  --btn-second-text: var(--orange-600);

  --card-fill: var(--white);
  --card-border: var(--grey-100);
  --card-border-hover: var(--orange-200);

  --drag-fill: var(--orange-50);
  --drag-hover: var(--orange-100);
  --drag-border: var(--orange-600);
  --drag-text: var(--orange-600);

  --dropdown-fill: var(--white);
  --dropdown-item: var(--white);
  --dropdown-item-active: var(--grey-50);
  //--dropdown-item-text: var(--grey-900);
  --dropdown-item-danger-active: var(--red-50);
  --dropdown-item-danger-text: var(--red-600);

  --info-fill: var(--blue-50);
  --info-icon: var(--blue-500);

  --input-fill: var(--grey-50);
  //--input-text: var(--grey-900);
  --input-border-hover: var(--orange-600);

  --menu-fill: var(--grey-50);
  --menu-item-text: var(--grey-600);
  --menu-item-text-select: var(--orange-600);

  --sidebar-fill: var(--grey-50);

  --table-fill: var(--white);
  --table-title: var(--white);
  --table-border: var(--grey-100);
  --table-row-odd: var(--grey-50);
  --table-row-even: var(--white);
  --table-row-invalid: var(--red-50);
  --table-text-invalid: var(--red-600);
  --table-text-number: var(--text-light);

  --tag-fill: var(--grey-50);
  //--tag-text: var(--grey-900);

  --input-name: var(--white);
  --input-name-hover: var(--grey-100);

  --variable-fill: var(--orange-50);
  --variable-fill-hover: var(--orange-100);
  --variable-text: var(--orange-600);

  --switch-track-off: var(--grey-700);
  --switch-track-on: var(--orange-600);
  --switch-thumb-off: var(--grey-700);
  --switch-thumb-on: var(--orange-600);


  --text: var(--grey-900);
  --text-light: var(--grey-600);
  --text-super-light: var(--grey-200);
  --text-error: var(--red-600);
  --text-link: var(--blue-500);
}
