.list {
  display: flex;
  flex-direction: column;
}

.uploader {
  width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px dashed black;
  font-size: 50px;
}
