.leftSidebar {
  position: absolute;
  left: 24px;
  top: 180px;
  width: 136px;
  //height: 350px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
  padding: 32px 12px;
  background-color: var(--main-fill);
  border-radius: 2px;
  box-shadow: 0 2px 8px var(--shadow);
  z-index: 1000;

  .infoBlock {
    display: flex;
    flex-direction: column;
    //gap: 8px;
    //padding: 12px 12px 16px;

    .infoIcon {
      margin: 0 0 0 auto;
      font-size: 24px;
      color: var(--text-light);
    }

    .infoText {
      margin: 0 0 0 auto;
      //white-space: pre-wrap;
      text-align: right;
      font: var(--font-body-medium);
      color: var(--text-light);
    }
  }

  .elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    //padding: 24px;
    //background-color: var(--scenario-sidebar-fill);

    .element {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 112px;
      font: var(--font-h3-medium);
      border: 1px solid var(--scenario-element-preview-border);
      border-radius: 2px;
      cursor: grab;

      &.start {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }

      &.finish {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
  }
}
