$font_h3_bold: bold 20px 'Montserrat';
$font_h3_medium: normal 20px 'Montserrat';
$font_h1_bold: bold 48px 'Montserrat';
$font_body_bold: bold 16px 'Montserrat';
$font_h2_bold: bold 32px 'Montserrat';
$font_caption_medium: normal 12px 'Montserrat';
$font_body_medium: normal 16px 'Montserrat';
