@import './colors';
@use 'sass:map';

$primary: $orange;
$secondary: $blue;
$black: $black;
$white: $white;
$negative: $red;
$positive: $green;
$warning: $orange;


$black_l5: scale-color($black, $lightness: 95%);
$black_l10: scale-color($black, $lightness: 90%);
$black_l60: scale-color($black, $lightness: 40%);

$blue_l5: scale-color($blue, $lightness: 95%);

$orange_t10: rgba($orange, 0.1);
$orange_t20: rgba($orange, 0.2);
$orange_t30: rgba($orange, 0.3);
$orange_l40: scale-color($orange, $lightness: 60%);
$orange_d6: scale-color($orange, $lightness: -6%);
$orange_d16: scale-color($orange, $lightness: -15%);

$red_l5: scale-color($red, $lightness: 95%);
