@import './colors';
@import './palette';
@import './fonts';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

:root {
  // colors
  --black: #{$black};
  --black-light-5: #{$black_l5};
  --black-light-10: #{$black_l10};
  --black-light-60: #{$black_l60};

  --blue: #{$blue};
  --blue-light-5: #{$blue_l5};

  --green: #{$green};

  --orange: #{$orange};
  --orange-light-40: #{$orange_l40};
  --orange-transparent-10: #{$orange_t10};
  --orange-transparent-20: #{$orange_t20};
  --orange-transparent-30: #{$orange_t30};
  --orange-dark-6: #{$orange_d6};
  --orange-dark-16: #{$orange_d16};

  --red: #{$red};
  --red-light-5: #{$red_l5};

  --white: #{$white};


  // original theme
  //--bar-fill: var(--white);
  --body-fill: var(--white);

  --btn: var(--orange);
  --btn-hover: var(--orange-dark-6);
  --btn-active: var(--orange-dark-16);
  --btn-text: var(--white);

  --btn-toggle: var(--white);
  --btn-toggle-text: var(--black);
  --btn-toggle-active: var(--orange);

  --btn-mini: var(--orange-transparent-10);
  --btn-mini-border: var(--orange-transparent-20);
  --btn-mini-text: var(--orange);

  --btn-circle: var(--white);
  --btn-circle-active: var(--black-light-5);
  --btn-circle-text: var(--black);

  --btn-transparent: var(--orange-transparent-10);
  --btn-transparent-hover: var(--orange-transparent-20);
  --btn-transparent-active: var(--orange-transparent-30);
  --btn-transparent-text: var(--orange);

  --card-fill: var(--white);
  --card-border: var(--black-light-10);
  --card-border-hover: var(--orange-light-40);

  --drag-fill: var(--orange-transparent-10);
  --drag-border: var(--orange-light-40);
  --drag-text: var(--orange);

  --dropdown-fill: var(--white);
  --dropdown-item: var(--white);
  --dropdown-item-active: var(--black-light-5);
  --dropdown-item-text: var(--black);
  --dropdown-item-danger-active: var(--red-light-5);
  --dropdown-item-danger-text: var(--red);

  --info-fill: var(--blue-light-5);
  --info-icon: var(--blue);

  --input-fill: var(--black-light-5);
  --input-text: var(--black);
  --input-border-hover: var(--orange);

  --menu-fill: var(--black-light-5);
  --menu-item-text: var(--black-light-60);
  --menu-item-text-select: var(--orange);

  --sidebar-fill: var(--black-light-5);

  --table-fill: var(--white);
  --table-title: var(--white);
  --table-row-odd: var(--black-light-5);
  --table-row-even: var(--white);
  --table-row-error: var(--red-light-5);
  --table-text-error: var(--red);

  --tag-fill: var(--black-light-5);
  --tag-text: var(--black);

  --variable-fill: var(--orange-transparent-10);
  --variable-text: var(--orange);

  --text: var(--black);
  --text-light: var(--black-light-60);
  --text-error: var(--red);

  // fonts
  --font-h1-bold: #{$font_h1_bold};
  --font-h2-bold: #{$font_h2_bold};
  --font-h3-bold: #{$font_h3_bold};
  --font-h3-medium: #{$font_h3_medium};
  --font-body-bold: #{$font_body_bold};
  --font-body-medium: #{$font_body_medium};
  --font-caption-medium: #{$font_caption_medium};

  // other
  --max-width-content: 952px;
  --logo-width: 139px;
  --logo-height: 48px;
}

//* {
//  font: var(--font-h1-bold)
//}

html[theme='dark'] {
  // dark theme
}
