.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 50%;
  width: 1000px;
  padding: 24px;
  background-color: var(--main-fill);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transform: translateX(-50%);
  box-shadow: 0 2px 8px var(--shadow);
  z-index: 1000;

  .back {
    padding-left: 8px;
    padding-right: 12px;
  }

  .save {
    padding-left: 44px;
    padding-right: 44px;
  }

  .loading {
    font: var(--font-h3-bold);
  }

  .nameWrapper {
    justify-content: center;

    .nameText {
      max-width: 300px;
      font: var(--font-h3-bold);
    }

    .icon {
      font-size: 24px;
    }
  }
}

.name.input.small {
  min-width: 300px;
  max-width: 300px;
  padding: 4px;
  font: var(--font-h3-bold);
}

.btn {
  padding: 5px !important;
}
