.card {
  width: 464px;
  height: 251px;

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 16px 32px;

    .options_wrapper {
      position: absolute;
      right: 12px;
      top: 12px;
      border-radius: 50%;

      .options_btn {

      }
    }

    .header {
      width: 380px;

      .title {
        font: var(--font-h2-bold);
        margin-bottom: 12px;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        //text-overflow: ellipsis;
        //white-space: normal;
      }

      .description {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        .info {
          display: inline-flex;
          align-items: center;
          font: var(--font-caption-medium);

          .icon {
            font-size: 12px;
            margin-right: 8px;
          }
        }
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;

      .tag {
      }
    }
  }
}
